
<h1>
  About 
</h1>
<p>Search for books and add them to your reading wishlist</p>
<p>Uses the Google Book Api query to search for books by title, author and/or ISBN.<br>
</p>
<h3>Tips</h3>
<ul>
  <li>Search using <b>only one</b> of title OR author</li>
  <li>Use single words</li>
  <li>Try using different words</li>
</ul>
<h3>Limitations</h3>
<ul>
  <li>The api is restricted to a maximum of 20 results per search </li>
</ul>
<p>Developer - Su Lei Yadanar</p>
