<div class="container bg-light m-5 p-2 border border-info border-2 d-flex justify-items-center">
   
    <table class="table">
        
        <tbody>
            <tr>
                <td class="col-sm-5 p-5">
                    <img src="<%=image %>" style="width:25vw">
                </td>
                <td class="p-5 col-sm-7">
                    <h1><%= title %></h1>
                    <h4><%= author %></h4>
                    <h5 class="mt-5"><%= description %></h5>
                </td>
            </tr>
        </tbody>
    </table>
</div>